<mat-toolbar color="accent">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>Team</mat-icon>
    </a>
    <span routerLink="/" style="cursor: pointer;">Form Team</span>
    <span class="example-spacer"></span>
   
    <a style="margin: 80px;"
    
    [routerLink]="'/user-list'" 
    mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon" >
        <mat-icon >list</mat-icon>
        Make Team         
    </a>
   
   

    
  </mat-toolbar>
  